<!-- <div #idClassBlock class="class-block" draggable="true" (dragstart)="drag($event)" (drop)="drop($event)" (dragover)="dragover($event)">   -->
<!-- <div #idClassBlock class="class-block" (drop)="drop($event)" (dragover)="dragover($event)">  -->
<div #idClassBlock class="class-block" draggable="true" (dragstart)="drag($event)" > 
    <div #idMoveSpot 
        (mousedown)= "moveSpotOnMouseDown($event)" 
        (mouseup)= "moveSpotOnMouseUp($event)" 
        (mouseover)= "moveSpotOnMouseOver($event)" 
        (mouseleave)= "moveSpotOnMouseLeave($event)"           
        class="move-spot">      
    </div> 

    <div class="class-block-container">
        <p class="class-name">{{getNewClassName}}</p> 

        <button #iddeleteClassBlockButton (click)="deleteClassBlockButtonOnClick($event)" 
                class="delete-button">X</button> 
                
        <input type="text" name="getNewClassName" [(ngModel)]="getNewClassName" 
            (change) = "inputOnChange($event)" 
            (click) = "inputOnChange($event)" 
            (focus)= "inputOnChange($event)" 
            #idInputClassName class="input-class-name" value={{getNewClassName}}>
        <!-- <p>constructor</p> -->
        <!-- <div class="hot-spot"></div> -->
        <!-- <div draggable="true" (dragstart)="drag($event)" class="hot-spot"></div> -->
        <div (drop)="drop($event)" (dragover)="dragover($event)" class="hot-spot"></div>        
    </div>
</div>